<%- include("./template/header")%>



<%- include("./template/navbar")%>
<div class="video-background">
        <video src="https://videos.pexels.com/video-files/7565817/7565817-hd_2048_1080_25fps.mp4" class="video-banner" autoplay loop muted></video>
    </div>
</div>
</section>
<section id="fashion-trending" class="product-store padding-large position-relative overflow-hidden">
  <div class="container mb-5">
    <div class="section-header text-center">
      <h2 class="section-title">Proximos Eventos</h2>
      <p>These are the products that are trending now.</p>
    </div>
    <div class="row">
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img src="/public/images/product-item1.jpg" alt="product-item" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex flex-wrap">
                  <div class="btn-left">
                    <a href="http://localhost:54112/formulario" class="btn btn-medium btn-light">Registrarse</a>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <h3 class="card-title">Título de la Tarjeta</h3>
                      <p class="card-description">Descripción breve...</p>
                    </div>
                   
                  </div>
                 
                </div>
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Orange beanie</a>
                </h3>
                <span class="item-price text-primary">$12.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img src="/public/images/product-item2.jpg" alt="product-item" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex flex-wrap">
                  <div class="btn-left">
                    <a href="http://localhost:54112/formulario" class="btn btn-medium btn-light">Registrarse</a>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <h3 class="card-title">Título de la Tarjeta</h3>
                      <p class="card-description">Descripción breve...</p>
                    </div>
                   
                  </div>
                 
                </div>
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">leather coat</a>
                </h3>
                <span class="item-price text-primary">$14.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img src="/public/images/product-item3.jpg" alt="product-item" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex flex-wrap">
                  <div class="btn-left">
                    <a href="http://localhost:54112/formulario" class="btn btn-medium btn-light">Registrarse</a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-content">
                      <h3 class="card-title">Título de la Tarjeta</h3>
                      <p class="card-description">Descripción breve...</p>
                    </div>
                   
                  </div>
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Oversize shirt</a>
                </h3>
                <span class="item-price text-primary">$12.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img src="/public/images/product-item4.jpg" alt="product-item" class="product-image">
              </div>
              
              <div class="cart-concern">
                <div class="cart-button d-flex flex-wrap">
                  <div class="btn-left">
                    <a href="http://localhost:54112/formulario" class="btn btn-medium btn-light">Registrarse</a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-content">
                      <h3 class="card-title">Título de la Tarjeta</h3>
                      <p class="card-description">Descripción breve...</p>
                    </div>
                   
                  </div>
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Flora print dress</a>
                </h3>
                <span class="item-price text-primary">$14.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img src="/public/images/product-item5.jpg" alt="product-item" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex flex-wrap">
                  <div class="btn-left">
                    <a href="http://localhost:54112/formulario" class="btn btn-medium btn-light">Registrarse</a>
                  </div>
                 
                </div>
                <div class="card">
                    <div class="card-content">
                      <h3 class="card-title">Título de la Tarjeta</h3>
                      <p class="card-description">Descripción breve...</p>
                    </div>
                   
                  </div>
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Green outer</a>
                </h3>
                <span class="item-price text-primary">$16.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button swiper-button-next"></div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="btn-center">
        <a href="shop.html" class="btn btn-medium btn-black">Shop All</a>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>
<!-- scripts van a lo ultimo de las validaciones -->

<%- include("./template/footer")%>