<%- include("./template/header")%>



<link rel="stylesheet" href="./public/css/estilos.css">
<%- include("./template/navbar")%>
<div class="video-background">
        <video src="https://videos.pexels.com/video-files/7565817/7565817-hd_2048_1080_25fps.mp4" class="video-banner" autoplay loop muted></video>
    </div>
</div>
</section>
<section id="fashion-trending" class="product-store padding-large position-relative overflow-hidden">
  <div class="container mb-5">
    <div class="section-header text-center">
      <h2 class="section-title">Proximos Eventos</h2>
      <p>These are the products that are trending now.</p>

      <link rel="stylesheet" href=".css">
    </div>
    <div class="grid-container">
      <% eventos.forEach(evento => { %>
        <%- include("./template/card_events", {evento})%>
      <%})%>
    </div>
  </div>
</section>
<!-- scripts van a lo ultimo de las validaciones -->

<%- include("./template/footer")%>