<%- include("./template/header")%>

<%- include("./template/navbar")%>

<section id="billboard" class="padding-large no-padding-top position-relative">
  <div class="image-holder">
    <video
      src="https://videos.pexels.com/video-files/7565817/7565817-hd_2048_1080_25fps.mp4"
      class="video-banner-hero"
      autoplay
      loop
      muted
    ></video>
  </div>
  <div class="banner-content content-light style1 text-center col-md-6">
    <h2 class="banner-title">
      ¡Compra tus entradas para los mejores eventos y conciertos!
    </h2>
    <div class="btn-center">
      <a href="#" class="btn btn-medium btn-light">Comprar ahora</a>
    </div>
  </div>
</section>

<section id="company-services">
  <div class="container my-5">
    <div class="row">
      <div class="icon-box-wrapper d-flex flex-wrap justify-content-between">
        <div class="icon-box text-center col-md-3 col-sm-12">
          <div class="content-box border-top border-bottom">
            <div class="icon-box-icon">
              <i class="icon icon-ticket"></i>
            </div>
            <div class="icon-content">
              <h3 class="no-margin">Conciertos en Vivo</h3>
              <p>
                Descubre y compra entradas para los mejores conciertos de tus artistas favoritos.
              </p>
            </div>
          </div>
        </div>
        <div class="icon-box text-center col-md-3 col-sm-12">
          <div class="content-box border-top border-bottom">
            <div class="icon-box-icon">
              <i class="icon icon-festival"></i>
            </div>
            <div class="icon-content">
              <h3 class="no-margin">Festivales</h3>
              <p>
                Accede a entradas para festivales de música y disfruta de experiencias únicas.
              </p>
            </div>
          </div>
        </div>
        <div class="icon-box text-center col-md-3 col-sm-12">
          <div class="content-box border-top border-bottom">
            <div class="icon-box-icon">
              <i class="icon icon-event"></i>
            </div>
            <div class="icon-content">
              <h3 class="no-margin">Eventos Deportivos</h3>
              <p>
                Compra entradas para tus eventos deportivos preferidos y no te pierdas ningún juego.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="event-types" class="product-store padding-large position-relative overflow-hidden">
  <div class="container mb-5">
    <div class="section-header text-center">
      <h2 class="section-title">Tipos de Eventos</h2>
      <p>Explora una variedad de eventos y compra tus entradas ahora.</p>
    </div>
    <div class="row">
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img
                  src="https://images.unsplash.com/photo-1583939003579-730e3918a45a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Bodas"
                  class="product-image"
                />
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Conciertos</a>
                </h3>
                <span class="item-price text-primary">$50.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img
                  src="https://images.unsplash.com/photo-1575132246077-e597d2f15549?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Cumpleaños"
                  class="product-image"
                />
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Festivales</a>
                </h3>
                <span class="item-price text-primary">$75.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img
                  src="https://images.unsplash.com/photo-1540317580384-e5d43616b9aa?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Eventos Corporativos"
                  class="product-image"
                />
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Eventos Deportivos</a>
                </h3>
                <span class="item-price text-primary">$40.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item position-relative">
              <div class="image-holder">
                <img
                  src="https://images.unsplash.com/photo-1598994520648-67a31987af9b?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt="Fiestas Temáticas"
                  class="product-image"
                />
              </div>
              <div class="product-detail text-center">
                <h3 class="product-title">
                  <a href="#">Teatro</a>
                </h3>
                <span class="item-price text-primary">$30.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button swiper-button-next"></div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="btn-center">
        <a href="eventos" class="btn btn-medium btn-black">Ver más</a>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>


<section id="testimonials" class="position-relative padding-large">
  <div class="container mt-5">
    <div class="row pt-5">
      <div class="review-content">
        <i class="icon-arrow icon-arrow-left"></i>
        <div class="swiper testimonial-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide text-center d-flex justify-content-center">
              <div class="review-item col-md-8">
                <i class="icon icon-review"></i>
                <blockquote>
                  “La experiencia de compra fue excelente. Las entradas llegaron a tiempo y disfruté muchísimo el concierto.”
                </blockquote>
                <div class="rating-star">
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star-line"></i>
                </div>
                <div class="author-detail">
                  <div class="name text-primary">Emma Chamberlin</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide text-center d-flex justify-content-center">
              <div class="review-item col-md-8">
                <i class="icon icon-review"></i>
                <blockquote>
                  “Compré entradas para un festival y el proceso fue muy sencillo. Sin duda, volveré a comprar aquí.”
                </blockquote>
                <div class="rating-star">
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star"></i>
                  <i class="icon icon-star"></i>
                </div>
                <div class="author-detail">
                  <div class="name text-primary">Joey Kimberland</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <i class="icon-arrow icon-arrow-right"></i>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>

<footer id="footer" class="overflow-hidden">
  <div class="container mt-5">
    <div class="row">
      <div class="footer-top-area">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-lg-3 col-sm-6">
            <div class="footer-menu menu-001">
               <p>
                Tu puerta de entrada a los mejores eventos. Compra entradas para conciertos, festivales y más.
              </p>
              <div class="newsletter-button d-flex flex-wrap align-items-center justify-content-between border-bottom widget-menu">
                <input type="text" name="Subscribe" placeholder="Ingresa tu correo electrónico..." />
                <a href="#">
                  <i class="icon icon-send"></i>
                </a>
              </div>
              <div class="social-links">
                <ul class="d-flex list-unstyled">
                  <li>
                    <a href="#">
                      <i class="icon icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon icon-instagram1"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon icon-youtube"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon icon-behance"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="footer-menu menu-002">
              <h5 class="widget-title">Enlaces Rápidos</h5>
              <ul class="menu-list list-unstyled text-uppercase">
                <li class="menu-item">
                  <a href="#">Inicio</a>
                </li>
                <li class="menu-item">
                  <a href="#">Sobre Nosotros</a>
                </li>
                <li class="menu-item">
                  <a href="#">Eventos</a>
                </li>
               
                <li class="menu-item">
                  <a href="#">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-menu text-uppercase menu-003">
              <h5 class="widget-title">Información de Eventos</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="#">Próximos Eventos</a>
                </li>
                <li class="menu-item">
                  <a href="#">Cómo Comprar Entradas</a>
                </li>
                <li class="menu-item">
                  <a href="#">Política de Cancelación</a>
                </li>
                <li class="menu-item">
                  <a href="#">Preguntas Frecuentes</a>
                </li>
                <li class="menu-item">
                  <a href="#">Contáctanos</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="footer-menu contact-item menu-004">
              <h5 class="widget-title">Contáctanos</h5>
              <p>
                ¿Tienes alguna consulta o sugerencia?
                <a href="mailto:yourinfo@gmail.com">yourinfo@gmail.com</a>
              </p>
              <p>
                ¿Necesitas soporte? Llámanos.
                <a href="tel:+5511122233344">+55 111 222 333 444</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</footer>

<%- include("./template/footer")%>
