<%- include("./template/header")%>

<%- include("./template/navbar")%>

<section id="billboard" class="padding-large no-padding-top position-relative">
  <div class="image-holder">
    <video
      src="https://videos.pexels.com/video-files/7565817/7565817-hd_2048_1080_25fps.mp4"
      class="video-banner-hero"
      autoplay
      loop
      muted
    ></video>
  </div>
  <div class="banner-content content-light style1 text-center col-md-6">
    <h2 class="banner-title">
      ¡Compra tus entradas para los mejores eventos y conciertos!
    </h2>
    <div class="btn-center">
      <a href="#" class="btn btn-medium btn-light">Comprar ahora</a>
    </div>
  </div>
</section>

<section id="company-services">
  <div class="container my-5">
    <div class="row">
      <div class="icon-box-wrapper d-flex flex-wrap justify-content-between">
        <div class="icon-box text-center col-md-3 col-sm-12">
          <div class="content-box border-top border-bottom">
            <div class="icon-box-icon">
              <i class="icon icon-ticket"></i>
            </div>
            <div class="icon-content">
              <h3 class="no-margin">Conciertos en Vivo</h3>
              <p>
                Descubre y compra entradas para los mejores conciertos de tus artistas favoritos.
              </p>
            </div>
          </div>
        </div>
        <div class="icon-box text-center col-md-3 col-sm-12">
          <div class="content-box border-top border-bottom">
            <div class="icon-box-icon">
              <i class="icon icon-festival"></i>
            </div>
            <div class="icon-content">
              <h3 class="no-margin">Festivales</h3>
              <p>
                Accede a entradas para festivales de música y disfruta de experiencias únicas.
              </p>
            </div>
          </div>
        </div>
        <div class="icon-box text-center col-md-3 col-sm-12">
          <div class="content-box border-top border-bottom">
            <div class="icon-box-icon">
              <i class="icon icon-event"></i>
            </div>
            <div class="icon-content">
              <h3 class="no-margin">Eventos Deportivos</h3>
              <p>
                Compra entradas para tus eventos deportivos preferidos y no te pierdas ningún juego.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="event-types" class="product-store padding-large position-relative overflow-hidden">
  <div class="container mb-5">
    <div class="section-header text-center">
      <h2 class="section-title">Tipos de Eventos</h2>
      <p>Explora una variedad de eventos y compra tus entradas ahora.</p>
    </div>
    <div class="row">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <% eventos.forEach(evento => { %>
            <div class="carousel-item active">
             
              <div class="container">
                <div class="row">
                  <div class="d-flex justify-content-center" >

                    <%- include("./template/tarjeta", {evento})%>
                  </div>
                </div>
              </div>
            </div>
            
          
          <%})%>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
   
    </div>
  </div>
  
</section>






<%- include("./template/footer")%>
