.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}



/* Media query para dispositivos con un ancho máximo de 767px (movil) */
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}



