<%- include("./template/header", {titulo:"404"})%>
<header>
    <%- include("./template/navbar")%>
</header>

<section class="container-fluid h-100 w-100 mt-4 d-flex justify-content-center align-items-center">

    <h2 class="col-12 text-center">Error 404 | Contenido no encontrado</h2>

</section>

<%- include("./template/footer")%>