<%- include("./template/header", {titulo:"404"})%>
<header>
    <%- include("./template/navbar")%>
</header>

<section class="container-fluid">

    <h2 class="col-12">Error 404 | Contenido no encontrado</h2>

</section>

<%- include("./template/footer")%>