<%- include("./template/header", {titulo:"Pagina Principal"})%>
<header>
    <%- include("./template/navbar")%>
</header>

 <div class="container">
    <h1>Index</h1>
 </div>

<%- include("./template/footer")%>
    
