<footer class="footer bg-white" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Información de Contacto</h3>
        <p>Jonathan Rodriguez</p>
        <p>Daniela De Leon</p>
        <p>Ronaldo Tunon</p>
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">© 2024 SWANKY. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
 <!-- script ================================================== -->
 <script src="/public/js/jquery-1.11.0.min.js"></script>
 <script src="/public/js/plugins.js"></script>
 <script src="/public/js/script.js"></script>


 <!-- Bootstarp script ================================================== -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
   crossorigin="anonymous"></script>

 <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
 <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->

 <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
 <script>
  document.getElementById('showCommentsBtn').addEventListener('click', function() {
      var commentsSection = document.getElementById('commentsSection');
      if (commentsSection.style.display === 'none') {
          commentsSection.style.display = 'block';
          this.textContent = 'Ocultar comentarios';
      } else {
          commentsSection.style.display = 'none';
          this.textContent = 'Mostrar comentarios';
      }
  });
</script>
</body>

</html>