<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artiko</title>
    <link href="/css/globals.css" type="text/css" rel="stylesheet"/>
    <link href="/css/output.css" type="text/css" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.6.8/build/spline-viewer.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png"/>
    <link rel="manifest" href="/favicon_io/site.webmanifest"/>
</head>
<body>
    <header class=" py-4 flex-row w-full fixed top-0 px-6 z-30 text-white flex justify-between items-center bg-customBackground bg-opacity-60 backdrop-blur-lg rounded drop-shadow-lg">
        <div class="hover:scale-110 transition-all text-4xl font-bold font-Krylon">
            <a class="" href="/">Artiko</a>
        </div>
        <nav>
            <ul class="flex gap-3 flex-row font-Krylon text-xl">
                <li class="hover:scale-105 transition-all"><a href="/dashboard/agregar" class="hover:text-orange-500 hover:font-bold hover:transition-all ">Agregar</a></li>
                <li class="hover:scale-105 transition-all"><a href="/dashboard/listar" class="hover:text-orange-500 hover:font-bold hover:transition-all">Listar</a></li>
                <li class="hover:scale-105 transition-all"><a href="/logOut" class="hover:text-orange-500 hover:font-bold hover:transition-all">Salir</a></li>
            </ul>
        </nav>
        <!-- <div class="md:hidden flex items-center">
            <button class="mobile-menu-button">
                <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div -->
    </header>
</body>
</html>