<%- include("./template/header")%>
<%- include("./template/navbar")%>

<!-- https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fe2%2F71%2F44%2Fe27144445f10a912a5874a09d97589a2.jpg&f=1&nofb=1&ipt=2ca8505a62e5693979d6103adadbf8ffd95f89ac94dc75da2b1afed99f9472e6&ipo=images -->
<!-- Main Content -->
<main class="flex-grow flex items-center justify-center">

    <img class="w-full h-auto" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fe2%2F71%2F44%2Fe27144445f10a912a5874a09d97589a2.jpg&f=1&nofb=1&ipt=2ca8505a62e5693979d6103adadbf8ffd95f89ac94dc75da2b1afed99f9472e6&ipo=images"/>
    <form class="bg-white absolute p-8 rounded shadow-md w-96" method="post" action="http://localhost:54110/procesarRegistro">
        <div class="mb-4 text-lg font-bold text-gray-700  text-center" >
            Registro de usuario
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                Nombre
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" name="nombre" type="text" placeholder="Nombre">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">
                Apellido
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="lastname" name="apellido" type="text" placeholder="Apellido">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Nombre de usuario
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" placeholder="Nombre de usuario">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Correo Electr칩nico
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="correo" type="email" placeholder="Correo Electr칩nico">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Contrase침a
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" placeholder="Contrase침a">
        </div>
        <div class="flex items-center justify-center">
            <button class="bg-orange-500 text-white font-bold py-2 px-4 rounded hover:bg-orange-600 focus:outline-none focus:shadow-outline" type="submit">
                Enviar...
            </button>
        </div>
    </form>
</main>

<%- include("./template/footer")%>