<div class="bg-white p-4 shadow-lg flex flex-col gap-4">
    <h2 class="text-xl mb-2"><%= title%></h2>
    <img src="<%= url%>">
    <p class="mb-2"><span class="font-bold">Descripción:</span> <%= description%> </p>
    <p class="mb-2"><span class="font-bold">Costo:</span> <%= price%></p>
    <!-- <a href="gracias.html"><button class="bg-orange-500 text-black py-2 px-4 w-full rounded hover:bg-orange-600">Comprar</button></a> -->
</div>