<div class="bg-white p-4 shadow-lg flex flex-col gap-4 hover:scale-105 transition-all">
    <h2 class="text-xl mb-2"><%= title%></h2>
    <div class="bg-gray-300 h-48 mb-4 flex items-center justify-center">
        <img class="rounded-md w-full max-w-[400px] max-h-[200px]" src="<%= url%>"/>
    </div>
    <a href="<%= details%>">
        <button class="bg-orange-500 text-black py-2 px-4 w-full rounded transition-all hover:text-orange-500 hover:bg-white hover:border-2 hover:border-orange-500">
            Ver
        </button>
    </a>
</div>